@import url("https://fonts.googleapis.com/css?family=Manrope");
@import url("https://fonts.googleapis.com/css?family=Bungee");

body {
  padding: 0;
  margin: 0;
  margin: 0px auto;
  background-color: pink;
  background-image: url("./images/unicorncollage.png");
  background-repeat: repeat;
  background-size: 370px 250px;

  
  
}

.maintitles{
  text-align: left;
  padding-top: 7%;
  color: white;
  text-shadow: #000;
  font-family: "Bungee";
  padding-left: 5%;
  font-size: 70px;

}

.mainsubtitle{
  text-align: left;
  color: white;
  text-shadow: #000;
  font-family: "Bungee";
  padding-left: 5%;
  font-size: 20px;
}

.mainbody {
  position: relative;
  background-color: white;
  width: 70%;
  height:fit-content;
  left:15%;
  margin-top: 3%;

}

.sectiontitle{
  position: relative;
  padding-left: 4%;
  font-family: "Bungee";
}

.lefttext{
  padding-left: 10%;
  padding-right: 5%;
  text-align: center;
  font-family: 'Manrope';
}

.righttext{
  padding-right: 10%;
  padding-left: 5%;
  
}

.mapchart{
  padding-left: 4%;
}

.bumpchart{
  padding-left: 8%;
  padding-bottom: 2%;
  padding-top: 5%;
}

.barchart{
  padding-right: 7%;
}

#titlebox{
  background-color: #65babf;
  width: 100%;
  height: 300px;;
  margin-top: 3%;
  position: relative;
  background-image: url("./images/unicorn-startup-min2.jpg");
  background-repeat: no-repeat;
  background-size: 420px 300px;
  background-position-x:right;
  
}

hr.rounded {
  color: #000;
  height: 1px;
  line-height: 5px;
  width:80%;
}

#valuationtext{
  font-size: 40px;
  color: #ff9896;
  font-weight:500;
  
}